<div id="footer">
<p><a href="./archive.html">view archive</a></p>
<p><a href="http://fuckadvocacy.com/">fuck advocacy</a> is licensed <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">creative commons attribution</a> by <a href="http://cylegage.com/" target="_blank">cyle gage</a> &mdash; powered by <a href="http://cylesoft.com/">cylesoft</a></p>
<p><a href="http://twitter.com/cylegage/">@cylegage</a> &mdash; <a href="http://cylegage.com/">cyle gage dot com</a> &mdash; <a href="http://github.com/cyle/">github/cyle</a> &mdash; oh dear</p>
</div>

</body>
</html>